.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vw;
  margin-top: 25vw;
}
.first {
  display: flex;
}
.first img {
  height: 6vw;
}
.first img:nth-of-type(2n) {
  rotate: 180deg;
}
.content {
  width: 55vw;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}
.content::-webkit-scrollbar {
  display: none;
}
.third {
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.toggle {
    display: flex;
    gap: 1.5vw;
}
.toggle div {
    height: 1.3vw;
    width: 1.3vw;
    border-radius: 50%;
    border: .2vw solid #588157;
}
#special {
    border: .2vw solid #A3B18A;
    background-color: #588157;
}
.btn {
    margin-top: 8vw;
    text-align: center;
    width: 19vw;
    padding-top: 1.1vw;
    height: 4.5vw;
    border: 1px solid #3A5A40;
    border-radius: 3vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #3A5A40;
    font-size: 1.3vw;
}