.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vw;
    margin-top: 25vw;
}
.first {
    display: flex;
}
.first img {
    height: 4vw;
}
.first img:nth-of-type(2n) {
    rotate: 180deg;
}
.content {
    width: 45vw;
}