@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}
.featurecomp-main {
  width: 100vw;
  margin-right: 30vw;
  margin-top: 5vw;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vw;
}
.table-text {
  width: 100vw;
  font-size: 3vw;
  text-align: center;
  color: #325343;
  font-weight: 400;
}
.table-text span {
  font-weight: 600;
  letter-spacing: .2vw;
}
.featurecomp-table {
  width: 90vw;
}
th {
  width: 19vw;
  height: 7vw;
  border-radius: 3vw 3vw 0 0;
}
th:nth-of-type(3n) {
  color: #C7925F;
}
th:nth-of-type(2n) {
  color: #71573E;
  background-color: #c7915f81;
  font-weight: 800;
}
.table-heading h2 {
  font-size: 1.8vw;
  margin-top: .3vw;
}

.table-cell {
  width: 50vw;
  padding-left: 6vw;
  padding-bottom: 2vw;
  padding-top: 2vw;
  font-size: 1.5vw;
  font-weight: 300;
  border-top: 1px solid #D4A373;
}
.tabel-cell2 {
  background-color: #c7915f37;
  text-align: center;
}
.tabel-cell3 {
  text-align: center;
  border-top: 1px solid #D4A373;
}
hr {
  border: 0.5px solid #c7925f80;
  width: 50vw;
}
.Images {
  width: 2.5vw;
}
.special {
  border-radius: 0 0 3vw 3vw;
  height: 6vw;
}